<div *ngIf="canSelect">
    <button [disabled]="selection.length<=0 || deleting" (click)="deleteSelected()">{{'delete'|translate}}</button>
</div>

<table class="table table-bordered table-striped cursor-default">
    <thead>
        <tr>
            <th class="fit-column" *ngIf="canSelect">
                <mat-checkbox
                class="example-margin"
                [checked]="isAllSelected()"
                [indeterminate]="!isAllSelected()&& selection.length>0"
                (change)="masterBoxChange($event)"
                ></mat-checkbox>
            </th>
            <th class="fit-column">
                <div >
                    {{'position' | translate}}</div>
            </th>
            <th *ngFor="let col of gridConfig.columns;">
                <div (click)="handleSort(col)" [ngClass]="{'cursor-pointer':col.isSortable}">
                    @if (col.isSortable) {
                        <mat-icon>{{getSortIcon(col)}}</mat-icon>
                    }
                    {{col.header | translate}}</div>
            </th>
            <th class="center-cell"  *ngIf="gridConfig.actions?.length">
                {{'actions'|translate}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="dataSource.length<=0">
            <td class="no-data" [colSpan]="1 + (canSelect?1:0) + gridConfig.columns.length + (gridConfig.actions && gridConfig.actions.length>0 ? 1:0)">
                {{'noData'|translate}}
            </td>
        </tr>
        <tr *ngFor="let row of dataSource;let i =index;">
            <td *ngIf="canSelect">
                <mat-checkbox (change)="boxChange($event,row)" [checked]="elementSelected(row)" ></mat-checkbox>
            </td>
            <td>{{((pageNumber-1)*pageSize) +i +1}}</td>
            <td *ngFor="let col of gridConfig.columns;">{{getValue(col,row)}}</td>
            <td class="center-cell"  *ngIf="gridConfig.actions?.length">
                <span *ngFor="let action of gridConfig.actions">
                    <button *ngIf="!action.isConditional || (action.isConditional && action.condition && action.condition(row))"
                    (click)="handleAction(action.actionName,row)">
                        {{action.actionName|translate}}
                    </button>
                </span>
            </td>
        </tr>
    </tbody>
</table>

<app-paginator [rowCount]="rowCounts"
                [pageNumber]="pageNumber"
                (onPageSizeChange)="changePageSize($event)"
                (onPageChange)="pageChange($event)"
 ></app-paginator>
